<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
    
    <% include ./partials/navbar.ejs %>

    <div class="row">
      <div class="col-md-4"></div>
        <h1 >Welcome to Chatty App</h1>


      <div class="col-md-4"></div>
    </div>
  

    <% include ./partials/scripts.ejs %>

  </body>
</html>