<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body style="background-color: #FFEAD0;">
    
    <% include ../static/partials/navbar.ejs %>
    <div class="row">
      <div class="col-md-4"></div>
      <h1 style="color: #37505C; font-family: URW Chancery; font-size: 44px;"> Messages</h1>
    </div>


    <div class="row">
      <div class="col-md-3"></div>

        <main>
           <div class="scrollable">
            <ul class="list-group">
              <% messages.forEach((message) => { %>
    
                 <li class="list-group-item" style="color: #37505C; font-family: URW Chancery; font-size: 19px;">
                   <%= message.userId %>:
                   <%= message.text %>
                 </li>
              
              <% }) %>
          </ul>
        </div>
          <% if(currentUser) { %>
          
            <form action="/messages" method="post">
              <div class="form-group">
                <input type="text" class="form-control" name="text" aria-describedby="textHelp" placeholder="Enter Message">
              </div>
    
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    
          <% } %>    
        </main>

      <div class="col-md-2"></div>
    </div>
  

    <% include ../static/partials/scripts.ejs %>

  </body>
</html>